.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 24px;

}
.field{
    display: flex;
    gap: 28px;
    align-items: center;
}
.field>.label{
    width: 90px;
    color: black;
    font-size: 14px;
    font-weight: 600;
}
.field>.input{
    width: 240px;
    height: 40px;
    border-radius:12px;
    outline: none;
    color: black;
    background-color: #EFF0F0;
    border: 0px;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
}
.field>.textarea{
    height: 125px;
    resize: none;
}
.action{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.error{
    margin-top: 2px;
    display: flex;
    justify-content: flex-start;
    gap: 4px;
    align-items: center;
    color: #FF2931;
    font-size: 10px;
    font-weight: 500;
    margin-left: 120px;
}